# Environment files
.env
.env.*
.envrc
.envrc.d/

# Python
.venv/
.venv.broken/
__pycache__/
*.pyc
.DS_Store

# Local asset folders
audio
images
videos
content
tmp/
bin/ngrok
ngrok.yml

# Editors / IDE
.vscode/
.idea/

# Logs
*.log
